.main-contact{
    display: flex;
    justify-content: center;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: fit-content;
    height: 5rem;
    border: 2px #555555 solid;
    border-radius: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}
.details-contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
.details-contact img{
    width: 30px;
    height: 30px;
}
.details-contact p{
    font-size: 20px;
    cursor: pointer;
}
.details-contact a{
    text-decoration: none;
    color: black;
}
.details-contact p:hover , .details-contact a:hover {
    color: #555555;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
@media (max-width:620px){
    .details-contact p{
        font-size: 15px;
    }
    .details-contact img{
        width: 25px;
        height: 25px;
    }
}
@media (max-width:520px){
    .details-contact{
        gap: 0.5rem;
    }
    .contact{
        gap: 1rem;
    }
    
}
@media (max-width:462px){
    .contact{
        flex-direction: column;
        gap: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .details-contact{
        justify-content: center;
    }
}